* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Preahvihear', sans-serif;
    background-color: #11071F;
    color: #fff;
    line-height: 1.6;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #1A0B2E;
}

.container-1 {
    display: flex;
    align-items: center;
}

.container-logo {
    display: flex;
    align-items: center;
    margin-left: 5rem;
}

.logo {
    height: 45px;
}

nav a {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: bold;
    margin-left: 30px;
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

nav a:hover {
    color: #a259ff;
}

.hamburguer {
    display: none;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1001;
    font-size: 2rem;
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
}

.side-menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 200px;
    height: 100%;
    background-color: #1A0B2E;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 60px 20px;
    transition: left 0.3s ease-in-out;
    z-index: 1000;
}

.side-menu a {
    color: #fff;
    text-decoration: none;
    margin: 15px 0;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: bold;
}

.side-menu.open {
    left: 0;
}


.intro {
    align-items: center;
    justify-content: center;
    padding: 60px 20px;

}

.container-avatar {
    position: relative;
    width: fit-content;
    margin-left: 10rem;
    margin-right: 5rem;
}

.avatar {
    position: relative;
    z-index: 2;
    width: 240px
}

.container-avatar::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    height: 320px;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(157, 71, 255, 0.6), transparent 70%);
    filter: blur(40px);
}


.text-1 {
    font-size: 8px;
    margin-bottom: 10px;
}

.name {
    font-size: 40px;
}


.text-2 {
    text-align: justify;
    margin: 0 12rem;
}

.text-2 p {
    margin-top: 1.25rem;
}

.portfolio {
    padding: 0 20px;
}

.portfolio h2 {
    text-align: center;
    margin-bottom: 40px;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 50px;
}

.project {
    display: inline-flex;
    width: 75%;
    height: auto;
    padding: 30px;
    color: white;
    transition: transform 0.3s ease;
}

.project img {
    border-radius: 15px;
    margin-bottom: 10px;
    width: 256px;
    height: 256px;
}

.text-project {
    font-family: "Poppins", sans-serif;
    color: #CCD6F6;
}

.text-project h2 {
    margin-left: 1.5rem;
    text-align: left;
}

.h2-right {
    text-align: right !important;
}

.text-container {
    background-color: #ccd6f60e;
    padding: 1rem;
    border: transparent;
    border-radius: 12px;
}

.skills {
    padding: 60px 20px;
    text-align: center;
}

.skills img {
    width: 50%;
    height: auto;
    margin-top: 5rem;
}

.contato {
    display: flex;
    justify-content: space-between;
    margin: 0 10rem;
    padding: 60px 20px;
    gap: 40px;
    flex-wrap: wrap;
}


.form-text {
    max-width: 400px;
}

.form-text h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.social a img {
    width: 18px;
    height: auto;
    margin-right: 10px;
}

.github-logo {
    margin-top: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 400px;
}

input,
textarea {
    padding: 10px;
    border-radius: 8px;
    border: none;
    background: #1d003a;
    color: #fff;
}

textarea {
    resize: none;
    height: 10rem;
}

input::placeholder,
textarea::placeholder {
    font-family: "Plus Jakarta Sans", sans-serif;
}

button {
    font-family: "Plus Jakarta Sans", sans-serif;
    background: #a259ff;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

footer {
    font-family: "Plus Jakarta Sans", sans-serif;
    background-color: #1A0B2E;
    text-align: center;
    padding: 20px;
    font-size: 14px;
}

@media (max-width: 1024px) {
    
    header {
        flex-direction: column;
        padding: 20px;
    }

    header nav {
        display: none;
    }

    .container-logo {
        margin-left: 0;
        margin-bottom: 10px;
    }

    nav a {
        margin: 10px;
        display: inline-block;
    }

    .container-1 {
        flex-direction: column;
        text-align: center;
    }

    .container-avatar {
        margin: 0 auto 2rem auto;
    }

    .text-2 {
        margin-left: auto;
        margin-right: auto;
        padding: 0 20px;
        text-align: center;
    }

    .portfolio .projects {
        padding: 20px;
    }

    .project {
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
        padding: 20px 0;
    }

    .text-project {
        display: none;
    }

    .skills img {
        width: 90%;
    }

    .contato {
        flex-direction: column;
        margin: 0 2rem;
    }

    .form-text,
    form {
        align-items: center;
        text-align: justify;
        max-width: 100%;
        width: 100%;
    }

    .form-text h3 {
        text-align: center;
    }

    input,
    textarea,
    button {
        width: 80%;
    }

    #menu-toggle {
        display: none;
    }
    
    #side-menu {
        display: none;
    }

    .hamburguer {
        display: none !important;
    }

}